{% extends 'Home/index.html' %}

{% block INDEX_TITULO %}
Nosotros
{% endblock %}

{% block INDEX_CONTENIDO %}
    <div class="text-center display-1 mb-5 mt-3">
        En Escogas nos apoyamos en la calidad de nuestros profesionales y en la competitividad de nuestras operaciones para acompañar a nuestros clientes en su desarrollo ofreciéndoles soluciones sostenibles e innovadoras adaptadas a sus necesidades.

        Nuestras principales áreas de trabajo son el rubro de los gases y servicios relacionados tanto del sector industrial (soldadura, gran minería, pulpa y papel, alimentos, Alphagaz, piscicultura) como del medicinal (clínicas, hospitales, servicio de oxigenoterapia domiciliaria, etc.). La satisfacción total de las necesidades y expectativas de nuestros clientes es nuestro compromiso y base fundamental del futuro éxito de nuestras operaciones. Air Liquide es y será un socio para sus clientes, empleados y accionistas
    </div>
{% endblock INDEX_CONTENIDO %}