<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">Argón</h2>
            <p class="card-text">Escogas suministra argón y mezclas de argón en distintos volúmenes y niveles de pureza. El argón se utiliza como atmósfera protectora en numerosos procesos industriales, incluyendo la fabricación de acero, la soldadura y otros procesos metalúrgicos, la fabricación de piezas electrónicas y de automoción, la conservación de alimentos y la elaboración de vino. El argón se utiliza también en aplicaciones de iluminación fluorescente y sirve de protector térmico no reactivo en ventanas con doble cristal.

                El argón puro y las mezclas de argón se utilizan comúnmente en procesos de arco eléctrico para soldar aluminio, acero inoxidable, bronce y cobre. Cuando se utiliza como gas de respaldo en aplicaciones de soldadura por arco, gas de respaldo o corte por plasma, el argón proporciona una atmósfera inerte para impedir la oxidación u otros cambios químicos que serían perjudiciales para la soldadura. En la fabricación de acero, el argón impide la interacción entre el metal líquido y la atmósfera circundante. Air Liquide ofrece argón puro y mezclas de gases de la marca ARCAL™ con cuatro productos listos para soldar, que engloban prácticamente cualquier aplicación de soldadura. Todos están diseñados para ser sencillos de utilizar, fiables y eficaces, en cualquier lugar y en cualquier momento.</p>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Más información</a></div>
    </div>
</div>
<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">Nitrogeno</h2>
            <p class="card-text">Suministramos Nitrógeno líquido y gaseoso a cualquier sector. Por ejemplo, las refinerías y plantas petroquímicas requieren grandes volúmenes de nitrógeno gaseoso para la purga de oxígeno y la humectación en operaciones de protección. El sector de los alimentos y las bebidas requiere cantidades variables de nitrógeno tanto líquido como gaseoso para aplicaciones de procesamiento y envasado alimentario y para ayudar a mantener temperaturas seguras cuando se almacenan y transportan los productos alimentarios.

                En muchos sectores, el nitrógeno se utiliza en cantidades más pequeñas para poner a cero y purgar instrumentos analíticos. Existen distintas clases de gases especializados de alta pureza disponibles para satisfacer muchos requisitos normativos y diluirlos para la realización de pruebas de emisiones de motores.</p>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Más información</a></div>
    </div>
</div>
<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">Oxígeno</h2>
            <p class="card-text">El oxígeno es esencial para muchos sectores. En el sector químico, el oxígeno de clase industrial se utiliza para mejorar un gran número de procesos petroquímicos. El oxígeno se utiliza en aplicaciones metalúrgicas como la fundición, el corte y la soldadura. Aumenta la eficiencia en una serie de procesos reduciendo la cantidad de combustible utilizado, así como las emisiones de dióxido de carbono. En el sector sanitario, el oxígeno médico se utiliza para tratar insuficiencias respiratorias, envenenamiento por monóxido de carbono y en tareas de reanimación.</p>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Más información</a></div>
    </div>
</div>
<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">Dióxido de Carbono (CO2)</h2>
            <p class="card-text">El dióxido de carbono (CO2) sirve para una serie de aplicaciones clave en distintos sectores. En estado sólido (-78°C), el dióxido de carbono, también conocido como hielo seco, es una fuente de frío que se puede utilizar como fluido criogénico para procesos como la ultra congelación para conservación de tejidos y la extinción de incendios, ya que es no combustible. El dióxido de carbono emitido a la atmósfera por las actividades químicas y, de petróleo y gas, puede capturarse y purificarse para su uso en muchos sectores y aplicaciones distintas.</p>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Más información</a></div>
    </div>
</div>     
    